body {
  background-color: #1a1b1f;
  background-image: url("https://cdn.pixabay.com/photo/2020/12/23/14/41/forest-5855196_1280.jpg");
  background-size: cover;
  color: #e3e2e6;
  background-attachment: fixed;
}

.bg-glass {
  backdrop-filter: blur(16px) ;
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

@media screen and (max-width: 768px) {
  .qut-width {
    width: 275px;
  }
}
@media screen and (min-width: 769px) {
  .qut-width {
    width: 600px;
  }
}

.btn-outline-warning {
  --bs-btn-hover-color: rgb(17, 25, 40);
  --bs-btn-active-color: rgb(17, 25, 40);
}
